.text-image-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.slide > * {
  width: 100%;
  margin: auto;
  margin-top: 60px;
  text-align: center;
  font-size: 1.5em;
}

.side-image {
  width: 500px;
  height: auto;
  opacity: 1;
  box-shadow: 0 5px 5px grey;
}

.text-content {
  max-width: 1500px;
  font-size: 0.7em;
}

@media screen and (max-width: 1028px) {
  .text-image-container {
    flex-direction: column;
    text-align: center;
  }

  .side-image {
    width: 100%;
    max-width: 300px;
  }

  .slide > * {
    text-align: center;
    font-size: 1.5em;
    margin: 40px auto;
  }
}
